// BASE COLORS
$color-transparent: transparent;
$color-white: #FFF;
$color-black: #2d2d2d;
$color-black-dark: #323436;
$color-grey-light: #eee;
$color-grey: #888888;
$color-grey-dark: #555b5b;
$color-green-light: #95CD32;
$color-green: #32CD32;
$color-blue-light: #337ab7;
// FONTS
$font-mr: 'montserratRegular';
$font-msb: 'montserratSemiBold';
